@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  outline: none;
  border: none;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

input {
  border: none;
  outline: none;
  background: transparent;
}
body {
  font-family: "Kanit", sans-serif;
  background-color: black;
}
/* ====background animation css========== */
.large-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -999;
  background-position: center;
}

.font-walter {
  font-family: "Walter Turncoat", cursive;
}
.translate-center {
  transform: translate(-50%, -50%);
}
/* =========scroll bar======== */
html::-webkit-scrollbar {
  width: 8px;
  border: none;
}

html::-webkit-scrollbar-track {
  /* border-radius: 20px; */
  background-color: #161d26;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(94.58deg, #552219 0%, #804646 100%);
  border-radius: 20px;
  overflow: hidden;
  height: 100px;
}

html::-webkit-scrollbar-corner {
  background: transparent;
}
/* =========text animation===========  */
.pump {
  animation: pump 0.8s ease-in;
}
@keyframes pump {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.heading-animation {
  animation: h1anima 1s 0.2s ease-in-out forwards;
  transform: translateY(-100px);
}
@keyframes h1anima {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  80% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-out;
  }
}
.theme-animation {
  transform: translateX(150px);
  animation: themeAnima 1s ease-in-out forwards;
}
@keyframes themeAnima {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}
.scale-aniamtion {
  animation: scaleAnima 1s ease-in-out forwards;
  transform: scale(0);
}
.delay-scale-aniamtion {
  animation: scaleAnima 1s ease-in-out forwards;
  transform: scale(0);
  animation-delay: 0.6s;
}
@keyframes scaleAnima {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.down-up-animaiton {
  animation: downAnim 0.3s ease-in-out forwards;
  transform: translateY(100px);
}
@keyframes downAnim {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hafeScale-anima {
  animation: profileAnim 0.3s ease-in-out forwards;
  transform: scale(0.5);
}
@keyframes profileAnim {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 700px) {
  .large-header {
    display: none;
  }
}

textarea {
  resize: none; /* Removes the resize button */
}

.active svg{
  fill: #ef4444;
}

/* =======cursor======== */


.cursor-blip {
  width: 12px;
  height: 12px;
  background-color: #ff5733; 
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1001;
  box-shadow: none;
}

.cursor-flare {
  width: 50px; 
  height: 50px; 
  background: radial-gradient(circle, rgba(255, 0, 0, 0.8), rgba(255, 87, 51, 0) 70%);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000; 
  opacity: 0; 
  transition: opacity 0.5s;
  filter: blur(10px);
}
